.cont-card-wrapper {
    margin: 10px;
    box-shadow: 1px 1px 100px 5px #dddddd;
    width: 800px;
}

.proj-title-wrapper {
    overflow-wrap: normal;
}

.content-text {
    text-align: left;
    padding: 10px 40px;
}