.cont-card-wrapper {
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 100px 5px #dddddd;
    width: 800px;
}

.proj-title-wrapper {
    overflow-wrap: normal;
}

.content-delete {
    background: none;
    border: none;
}

.content-delete:hover {
    cursor: pointer;
}

.content-title {
    margin: 10px 0px 0px;
}
.content-text {
    text-align: left;
    padding: 0px 40px;
}