@import './../variables';

.proj-card-wrapper {
    margin: 10px;
    box-shadow: 1px 1px 100px 5px #dddddd;
    width: 22%;
    min-width: 200px;
    &:hover {
        cursor: pointer;
    }
}

.proj-image {
    width: 100%;
}

.proj-delete {
    background: none;
    border: none;
    font-size: 24px;
    margin: 10px 0;
    width: 30px;
    &:hover{
        cursor: pointer;
        color: $yellow;
    }
}


.proj-inputs {
    
}


.title-update-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px 7px 10px;
    background-color: $yellow;
}

.proj-card-input {
    width: 90%;
    height: 20px;
    align-self: center;
    margin: 5px;
}

