@import './../variables';

.modal-wrapper {
    display: flex;
    margin: 10px;
    width: 800px;
    justify-content: space-between;
    align-items: center;
}

.modal-inputs {
    border: 1px solid $blue;
    background-color: $blue;
    border-radius: 10px;
    color: #ffffff;
    width: 550px;
    height: 160px;
}

select {
    margin: 10px;
    height: 30px;
}

.modal-top {
    margin-top: 7px;
}

.modal-title {
    margin: 10px;
    height: 25px;
    width: 400px;
}

.modal-content {
    width: 500px;
    height: 80px;
}

.modal-button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid $yellow;
    background-color: $yellow;
    color: #ffffff;
    font-size: 50px;
    &:hover{
        cursor: pointer;
    }
}

.cancel {
    background-color: $light;
    border: 1px solid $blue;
    color: $blue;
}