@import './../variables';

.account-wrapper {
    margin-top: 50px;
}

.permissions-table-wrapper {
    overflow-x: auto;
    width: 100%;
}

.change-password {
    background: none;
    @include y-border-button;
    height: 25px;
    font-size: 16px;
    margin-top: 10px;
    &:hover{
        background-color: $yellow;
        color: #ffffff;
        cursor: pointer;
    }
}


th {
    background-color: $yellow;
    color: white;
}

th, td {
    border-bottom: 1px solid #ddd;
    min-width: 100px;
    height: 30px;
}

tr {
    &:nth-child(even) {
        background-color: $light;
    }
    &:hover{
        background-color: $dark;  
    }
}

.payments-wrapper {
    padding: 50px;
    background-color: $light;
}

.info-wrapper {
    height: 250px;
    background-color: $light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.permissions-wrapper {
    margin: 50px;
}

.account-pricing-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-bottom: 50px;
}

.account-option-box {
    border: 10px solid $yellow;
    background-color: #ffffff;
    margin: 25px;
    font-weight: lighter;
}