@import './../variables';

.account-wrapper {
    margin-top: 50px;
}



.permissions-table-wrapper {
    overflow-x: auto;
    width: 100%;
}

.change-password {
    background: none;
    @include y-border-button;
    height: 25px;
    font-size: 16px;
    margin-top: 10px;
    &:hover{
        background-color: $yellow;
        color: #ffffff;
        cursor: pointer;
    }
}


th {
    background-color: $yellow;
    color: white;
}

th, td {
    border-bottom: 1px solid #ddd;
    min-width: 100px;
    height: 30px;
}

tr {
    &:nth-child(even) {
        background-color: $light;
    }
    &:hover{
        background-color: $dark;  
    }
}

.payments-wrapper {
    position: relative;
    padding: 50px;
    background-color: $light;
}

.info-wrapper {
    height: 250px;
    background-color: $light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.permissions-container {
    margin: 50px 0;
    position: relative;
}
.permissions-wrapper {
    margin: 50px;
    position: relative;
}

.save-perm {
    position: absolute;
    right: 0px;
    top: 0px;
    background: none;
    height: 20px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid $blue;
    color: $blue;
    &:hover{
        background-color: $blue;
        color: #ffffff;
        cursor: pointer;
    }
}

.util-wrapper {
    margin: 50px auto;
    max-height: 450px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.util-doughnut {
    height: 300px;
    width: 100%;
}

.payment-summary {
    display: flex;
    position: relative;
    top: 12px;
    left: 15px;
}

.summary {
    background: none;
    border: 1px solid $yellow;
    padding: 0 10px;
    height: 35px;
    border-radius: 20px;
    background-color: $yellow;
    color: #ffffff;
    font-size: 20px;
    margin: 5px;
}

.account-pricing-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-bottom: 50px;
}

.account-option-box {
    border: 10px solid $yellow;
    background-color: #ffffff;
    margin: 25px;
    font-weight: lighter;
}

.package-select {
    background: none;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: $yellow;
    font-size: 35px;
    &:hover{
        cursor: pointer;
        color: $blue;
    }
}

