@import './../variables';

.pricing-hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-hero-image {
    width: 100%;
    position: relative;
    top: -50px;
}

.pricing-hero-text {
    position: absolute;
    top: 150px;
    font-weight: lighter;
    color: white;
    text-align: center;
}

// .pricing-option-wrapper {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     padding: 0 50px;
// }


.pricing-option-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    padding: 0 50px;
    margin-bottom: 50px;
}

.option-box {
    border: 10px solid $light;
    margin: 25px;
    font-weight: lighter;
}