.fixed-viewer {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
}

.viewer-header {
    background-color: #F3F3F3;
    padding: 0px 50px;
    height: 50px;
    display: fixed;

}

.player-header {
    padding: 0px 130px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.player-container {
    padding: 0px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-wrapper {
    box-shadow: 1px 1px 100px 10px #dddddd;
    margin: 0px 20px;
    z-index: -1
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 450px;
}

.player-nav {
    background: none;
    width: 60px;
    height: 60px;
    color: white;
    border: 1px solid black;
    background-color: black;
    border-radius: 35px;
    font-size: 50px;
    /* text-align: center; */
}

.player-nav:hover {
    color: #FFBD00;
    border: 1px solid #FFBD00;
    background-color: #ffffff;
    cursor: pointer
}

.center {
    margin-bottom: 125px;
}

.lower {
    font-size: 30px;
    border: 1px solid #dddddd;
    background-color: #dddddd
}

.player-footer {
    margin-top: 10px;
    padding: 0px 130px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
}

.content-container {
    position: relative;
    display: flex;
    justify-content: center;
    top: 620px;
    z-index: -2;
    width: 100%;
}

.content-body {
    /* padding: 0px 50px; */
    margin: 0px auto;
    background-color: red;
}