@import './../variables';

.fixed-viewer {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
}

h2 {
    margin: 0;
}

.viewer-header {
    background-color: $light;
    padding: 0px 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    background-color: #ffffff;
    z-index: 999;
    margin-bottom: 20px;
}

.player-header {
    padding: 0px 130px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.count {
    padding: 0px 5px;
}

.player-container {
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-wrapper {
    box-shadow: 1px 1px 100px 10px #dddddd;
    margin: 0px 20px;
    z-index: -1
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 394px;
}

.player-nav {
    background: none;
    width: 60px;
    height: 60px;
    color: white;
    border: 1px solid black;
    background-color: black;
    border-radius: 35px;
    font-size: 50px;
    /* text-align: center; */
    &:hover{
        cursor: pointer;
        color: $yellow;
        border: 1px solid $yellow;
        background-color: #ffffff;
    }
}

.center {
    margin-bottom: 125px;
}

.lower {
    font-size: 30px;
    border: 1px solid #dddddd;
    background-color: #dddddd
}

.player-footer {
    margin: 10px auto 0px;
    padding: 0px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 700px;
}

.player-footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25px;
}

.player-footer-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25px;
}

.progress-bar {
    width: 300px;
    margin-right: 10px;
}

.content-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 530px;
    z-index: -2;
    width: 100%;
}

.card-content-body {
    /* padding: 0px 50px; */
    margin: 0px auto;
}

.proj-title {
    font: {
        size: 25px;
        weight: lighter;
    }
    padding-left: 12px;
}