@import './../variables';

.logo {
    font-family: 'Do Hyeon', sans-serif;
    transition: 0.2s;
}

.logo-wrapper {
    display: flex;
    margin-left: 100px;
}

.yel {
    color: $yellow;
}

.button {
    background: none;
    border-radius: 25px;
    height: 40px;
    width: 170px;
    font: {
        size: 12px;
        weight: lighter;
        family: Arial, Helvetica, sans-serif;
    }
    letter-spacing: 3px;
    transition: 0.2s;
}

h1 {
    margin: 10px 0 15px;
}

.register {
    @include y-solid-button
    &:hover{
        cursor: pointer;
        background-color: white;
        color: $yellow;
    }
}

.hamburger {
    font-size: 20px;
    background: none;
    border: none;
    padding-left: 15px;
    &:hover{
        cursor: pointer;
    }
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    transition: 0.2s;
    background-color: #ffffff;
    z-index: 999;
    margin-bottom: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.content-body {
    text-align: left;
    padding: 0 30px 0 50px;
    min-width: 470px;
}

.comp-wrapper {
    position: relative;
}

.gif {
    position: absolute;
    width: 327px;
    right: 161px;
    top: 72px;
    z-index: 1;
}

.comp {
    position: relative;
    height: 350px;
}

.demo {
    border: 1px solid $dark;
    background-color: $dark;
    color: white;
    width: 250px;
    margin-top: 10px;
    &:hover{
        cursor: pointer;
        background-color: white;
        color: $dark;
    }
}

.features-wrapper{
    padding-top: 20px;
    overflow: hidden;
}

.feature-background{
    background-color: $light;
    height: 1000px;
    width: 100%;
    margin-top: 50px;
    padding-top: 50px;
    /* transform: rotate(-3deg) */
}

.feature-container {
    display: flex;
    align-items: center;
    margin-top: 50px; 
}

.feature-image {
    height: 400px;
}

.feature-content {
    padding: 0px 50px;
    text-align: left;
}

.feature {
    @include y-border-button
    width: 350px;
    height: 60px;
    margin-top: 10px;
    border-radius: 0px;
    &:hover{
        cursor: pointer;
        background-color: $yellow;
        color: $dark;
    }
}

.reasons-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-top: 80px;
}

.reason-card {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.reason-image {
    height: 80px;
}

.reason {
    @include y-border-button
    width: 200px;
    height: 60px;
    margin-top: 10px;
    border-radius: 0px;
    &:hover{
        cursor: pointer;
        background-color: $yellow;
        color: $dark;
    }
}

.reviews-wrapper {
    overflow: hidden;
    height: 450px;
}

.reviews-background {
    position: relative;
    top: -450px;
    z-index: -1;
    height: 450px;
    background-image: url('https://images.unsplash.com/photo-1543945419-6c5119c392cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-position: center center;
}

.reviews-overlay {
    background-color: rgba(0,0,0,0.65);
    height: 450px;
    width: 100%;  
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 450px;
    font-weight: lighter; 
}

.review-text {
    padding: 0px 150px;
}


.register-home {
    display: flex;
    padding: 0px 50px;
    margin-top: 50px;
}

.register-home-content {
    margin: 30px;
    text-align: center;
}

.register-reason {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

.reg-image {
    height: 70px;
    padding-left: 20px;
}

.reg-text {
    padding: 0px 30px;
    text-align: left;
}

.home-form-container {
    margin: 30px;
    max-width: 400px;
    min-width: 400px;
    height: 650px;
    box-shadow: 1px 1px 100px 1px #dddddd;
    background-color: $light;
}

.home-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-div{
    margin: 15px;
    height: 50px;
    width: 300px;
    font-size: 20px;
    background-color: #ffffff;
}

.home-form-input {
    margin-left: 10px;
    height: 50px;
    width: 250px;
    font-size: 20px;
    border: none;

}

.form {
    @include y-solid-button
    width: 300px;
    height: 60px;
    margin-top: 10px;
    border-radius: 30px;
    margin: 20px 0px;
    &:hover{
        cursor: pointer;
        background-color: #ffffff;
        color: $yellow;
    }
}

.terms {
    margin: 10px 35px;
    font-size: 10px;
}

.footer-main {
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;
}

.footer-content {
    text-align: left;
}

.copyright {
    text-align: 'left';
    padding-left: '100px';
}

@media (max-width: 450px) {
    .header {
        padding: 0px 25px;
    }
    .button {
        height: 50px;
        width: 200px;
    }
    .register, .gif {
        display: none;
    }
    .hero {
        flex-direction: column-reverse;
    }
    .comp {
        height: 200px;
    }
    .content-body {
        text-align: center;
        padding: 0 50px;
        min-width: 300px;
    }
    .feature {
        width: 300px;
    }
    .footer-main {
        display: none;
        align-items: center;
    }
    .feature-background {
        height: 900px;
    }
    .feature-container {
        flex-direction: column;
    }
    .feature-image {
        display: none;
    }
    .reasons-wrapper {
        flex-direction: column;
        padding: 50px 25px;
        align-items: center;
    }
    .reason-card {
        margin: 20px auto;
    }
    .review-text {
        padding: 0px 50px;
    }
    .register-home-content {
        margin: 10px;
    }
    .reg-text {
        padding: 0px 10px;
    }
    .register-home {
        flex-direction: column;
    }
    .home-form-container {
        margin: 30px auto;
        max-width: 270px;
        min-width: 270px;
    }
    .input-div{
        width: 220px;
    }
    .home-form-input {
        width: 170px;
    }
    footer {
        margin: 0px auto;
    }
    .lower-logo {
        margin: 0px;
        justify-content: center;
    }
    .copyright {
        text-align: 'center';
    }
}