@import './../variables';

.new-proj-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.new-proj-input {
    margin: 15px;
    height: 50px;
    width: 50%;
    font-size: 20px;
    text-align: center;
}

.video-lib-wrapper {
    border-top: 1px solid $light;
    margin-top: 50px;
}

.new-next {
    background: none;
    border: 1px solid $yellow;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: $yellow;
    color: #ffffff;
    font-size: 35px;
    position: absolute;
    top: 230px;
    right: 110px;
    &:hover{
        cursor: pointer;
        background-color: #ffffff;
        color: $yellow;
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
}

.vid-confirm {
    background: none;
    border: 1px solid $yellow;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: $yellow;
    color: #ffffff;
    font-size: 35px;
    &:hover{
        cursor: pointer;
        background-color: #ffffff;
        color: $yellow;
    }
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}