@import './../variables';

.new-proj-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.new-proj-input {
    margin: 15px;
    height: 50px;
    width: 50%;
    font-size: 20px;
    text-align: center;
}

.video-lib-wrapper {
    border-top: 1px solid $light;
    margin-top: 50px;
}

.new-next {
    background: none;
    border: 1px solid $yellow;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: $yellow;
    color: #ffffff;
    font-size: 35px;
    position: absolute;
    top: 230px;
    right: 110px;
    &:hover{
        cursor: pointer;
        background-color: #ffffff;
        color: $yellow;
    }
}

.vid-confirm {
    background: none;
    border: 1px solid $yellow;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: $yellow;
    color: #ffffff;
    font-size: 35px;
    &:hover{
        cursor: pointer;
        background-color: #ffffff;
        color: $yellow;
    }
}