@import './../variables';

.dash {
    margin-bottom: 25px;
}

.dash-title {
    font: {
        size: 25px;
        weight: lighter;
    }
    padding-left: 12px;
    margin: 0 0 10px;
}

.dash-body {
    padding: 60px 25px;
}

.trigger {
    z-index: 999;
    margin-top: 5px;
}